
{% extends "base.html.twig" %}

{% block title %} Accès {% endblock %}

{% block body %}
<div class="container my-5" style='min-height:60vh;'>

    <div>
        <iframe class="col-md-6 w-100" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13223.936425235339!2d-118.2507795!3d34.0442788!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x64a00f8347fe5966!2sCecil%20Hotel!5e0!3m2!1sfr!2sfr!4v1666131142191!5m2!1sfr!2sfr" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="d-flex align-items-center my-4">
        <a href="{{path('contact')}}" class="btn btn-primary col-md-12">Nous Contacter</a>
    </div>









</div>


{% endblock %}