{% extends "base.html.twig" %}

{% block title %} Accès {% endblock %}

{% block body %}
<div class="container my-5" style='min-height:60vh;'>
<h2 class="text-center">Mentions légales</h2>

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        ÉDITEUR
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
      <div class="accordion-body">
        Le site internet accessible, notamment, à l’adresse http://www.Cortez.com (ci-après : le « Site ») est édité par la société THE CORTEZ HOTEL, LIMITED, société de droit anglais au capital social de 2.000.000 Livres Sterling, immatriculée au Registre du Commerce et des Sociétés de Paris sous le numéro 572 219 913 00017 et dont le siège social est sis Third floor, 20 Old Bailey, Londres, EC4M 7AN (Royaume-Uni) et le principal établissement au 15 Place Vendôme – Paris (75001) ; numéro de téléphone +33 (0)1 43 16 30 30 (ci-après dénommée « CORTEZ LA »).
Le Directeur de la publication du Site est : Vincent Ferreira 
<br><br><br>
Le Site est hébergé par la société SAS Dieu Ferreira, 140 boulevard Haussmann, 75008 Paris ; numéro de téléphone : +33 (0)1 58 56 60 87.
<br><br><br>
L’accès au Site ainsi que l’utilisation de son contenu s’effectuent dans le cadre des mentions d’utilisation décrites ci-après. Le fait d’accéder et de naviguer sur le Site constitue de la part de l’internaute une acceptation sans réserve des précisions suivantes :
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        PROPRIÉTÉ INTELLECTUELLE
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Le Site dans son ensemble, ainsi que chacun des éléments qui le composent (notamment, textes, schémas, arborescences, logiciels, animations, images, photographies, illustrations, vidéos, représentations graphiques ou éditoriales, logos, etc.) constituent des œuvres de l’esprit protégés par le Code de la propriété intellectuelle ainsi que par toute autre législation internationale applicable.
        <br><br><br>
CORTEZ LA est seule habilitée (directement ou par l’effet de licences ou autorisations) à utiliser les éléments composant le Site, les noms de domaine, les marques, modèles, etc. ainsi que les images et contenus éditoriaux qui y sont reproduits.
<br><br><br>
L’usage de tout ou partie du Site, notamment par téléchargement, reproduction, transmission, représentation ou diffusion à d’autres fins que la consultation et l’utilisation du Site à titre personnel et privé par l’internaute dans un but non commercial est strictement interdit. La violation de ces dispositions expose son auteur aux sanctions prévues tant par le Code de la propriété intellectuelle au titre notamment de la contrefaçon de droits d’auteur, de droit de marques que par le Code civil en matière de responsabilité civile.
 <br><br><br>
La création de tout lien hypertexte renvoyant à l’une quelconque des pages web ou éléments composant le Site est interdite sauf autorisation écrite et préalable de CORTEZ LA, laquelle autorisation pouvant être révoquée à tout moment. Tout contenu, site internet ou autre ayant un lien hypertexte dirigeant vers le Site ou vers l’un quelconque des éléments qui le composent ne sont pas sous le contrôle de CORTEZ LA et celle-ci décline par conséquent toute responsabilité (notamment, éditoriale) concernant l’accès à ces sites et leur contenu.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        DISPONIBILITÉ DU SITE
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        CORTEZ LA s’efforce, dans la mesure du possible, de maintenir accessibles de manière permanente le Site, mais n’est tenue à aucune obligation d’y parvenir. CORTEZ LA peut donc interrompre l’accès au Site, notamment pour des raisons de maintenance ou de mise à jour, ou pour toutes autres raisons, notamment techniques ou éditoriales et ce, sans préavis ni information préalable des internautes, sans que CORTEZ LA ne puisse être tenue pour responsable des conséquences de ces interruptions aussi bien à l’égard des internautes que de tout tiers.
<br><br><br>
Par ailleurs, CORTEZ LA ne saurait être tenue pour responsable si des internautes ne parvenaient pas à accéder à tout ou partie du Site du fait de tout défaut technique ou de tout problème notamment et non limitativement lié à :
<br><br><br>
- une défaillance et/ou un encombrement du réseau Internet,<br>
- une défaillance des fournisseurs d’accès Internet,<br>
- une erreur humaine ou d’origine électrique,<br>
- toute intervention malveillante,<br>
- tous dysfonctionnements de logiciel ou de matériel,<br>
- un cas de force majeure.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingfour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
        RESPONSABILITÉ
      </button>
    </h2>
    <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       CORTEZ LA s’efforce d’assurer au mieux de ses possibilités l’exactitude et la mise à jour des informations diffusées sur le Site, dont elle se réserve le droit de modifier, à tout moment et sans préavis, le contenu.
 <br><br><br>
Toutefois, CORTEZ LA ne peut garantir l’exactitude, la précision et l’exhaustivité des informations mises à disposition sur le Site, lesquelles informations ne constituent ni une garantie ni un engagement de la part de CORTEZ LA à l’égard de l’internaute. En particulier, cette dernière ne saurait être tenue pour responsable :
<br><br><br>
- de toute imprécision, inexactitude ou omission desdites informations ;<br>
- de tout dommage éventuel résultant d’une intrusion informatique d’un tiers ayant entraîné une modification desdites informations ;<br>
- et, plus généralement, de tous dommages, directs ou indirects, qu’elles qu’en soient les causes, origines, natures et conséquences, liées à l’accès (ou à l’impossibilité d’accéder au Site), au contenu, à l’utilisation du Site et/ou au crédit accordé à une quelconque information provenant de ce dernier
      </div>
    </div>
  </div>
</div>
    <div class="row justify-content-center my-3 ">
    <div class="col-md-2"><img src="https://i.pinimg.com/564x/8c/f5/d5/8cf5d568c90023f08827a660770c0861.jpg" class="img-fluid mw-25"alt=""></div></div>

</div>


{% endblock %}