{% extends "base.html.twig" %}

{% block title %} Accès {% endblock %}

{% block body %}
<div class="container my-5" style='min-height:60vh;'>
<h2 class="text-center">CONDITIONS GÉNÉRALES DE VENTE DE LA BOUTIQUE EN LIGNE CORTEZ LA</h2>

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        INTRODUCTION
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        La société THE CORTEZ HOTEL LIMITED, société de droit anglais au capital social de 2.000.000 Livres Sterling, immatriculée au Registre du Commerce et des Sociétés de Paris sous le numéro 572 219 913 et dont le siège social est situé sis Third floor, 20 Old Bailey, Londres, EC4M 7AN (Royaume-Uni) et le principal établissement 15 place Vendôme – Paris (75001) (ci-après dénommée « CORTEZ LA »), édite le site internet accessible à l’adresse suivante : CORTEZparisboutique.com.
        <br><br><br>
Son numéro de Siret est 572 219 913 000 17 et son numéro de TVA intra-communautaire est le FR 20572219913. Ses coordonnées téléphoniques sont les suivantes : + 33 (0)1 43 16 32 22 et son courrier électronique : contact@CORTEZparis.com .
<br><br><br>
CORTEZ LA propose aux internautes qui se connectent à la rubrique « CORTEZ LA BOUTIQUE » (ci-après le « Site ») de se porter acquéreurs des produits « CORTEZ LA » qui y sont proposés à la vente.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        CHAMP D’APPLICATION
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Les présentes conditions générales de vente (ci-après : les « Conditions Générales de Vente ») –lesquelles précisent, notamment, les modalités de commande, de paiement, de livraison et d’éventuel retour- sont applicables à toutes les ventes de produits conclues via le Site, en vue d'une livraison en France métropolitaine, Corse incluse, Belgique, Luxembourg, Pays-Bas, Allemagne, Italie, Danemark, Espagne, Portugal, Autriche, Monaco, Hongrie, Pologne, République Tchèque, Slovaquie, Slovénie, Finlande, Suède, Grèce, Estonie, Lettonie, Lituanie, Bulgarie, Roumanie, Andorre, Liechtenstein, San Marin, Suisse, Japon et aux Etats-Unis d’Amérique.
<br><br><br>
En conséquence, le client déclare avoir pris connaissance des Conditions Générales de Vente avant la passation de sa commande. A cet égard, à chaque commande sur le Site, le client devra confirmer son acceptation des Conditions Générales de Vente en cochant la case « J'ai lu et accepté les conditions générales de vente de la boutique en ligne CORTEZ LA ». Cette validation au moment de la commande vaut donc acceptation sans restriction ni réserve desdites Conditions Générales de Vente. Celles-ci peuvent être conservées par enregistrement informatique et/ou être reproduites par impression par le client.
<br><br><br>
Les Conditions Générales de Vente seront applicables tant qu'elles figureront sur le Site. CORTEZ LA peut à tout moment modifier et mettre à jour ces Conditions Générales de Vente étant toutefois précisé que les Conditions Générales de Vente applicables seront celles en vigueur à la date de la commande par le client et telles que formellement acceptées par ce dernier.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        IDENTIFICATION DU CLIENT
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        2.1 La vente en ligne de produits sur le Site est exclusivement réservée aux utilisateurs finaux, à savoir les clients consommateurs, au sens qu’en donnent la loi et la jurisprudence, agissant exclusivement pour leur propre compte et domiciliés en France métropolitaine, Corse incluse, Belgique, Luxembourg, Pays-Bas, Allemage, Italie, Danemark, Espagne, Portugal, Autriche, Monaco, Hongrie, Pologne, République Tchèque, Slovaquie, Slovénie, Finlande, Suède, Grèce, Estonie, Lettonie, Lituanie, Bulgarie, Roumanie, Andorre, Liechtenstein, San Marin, Suisse, Japon et aux Etats-Unis d’Amérique. Afin de se prémunir contre les commandes de produits effectuées à d’autres fins et, notamment, pour prévenir tout risque d’écoulement parallèle de ses produits, CORTEZ LA a décidé de limiter la commande de chaque produit à six (6) exemplaires identiques maximum et douze (12) pour les assiettes de porcelaine.

<br><br><br>
2.2 Protection des données à caractère personnel

<br><br><br>
Dans le cadre de la vente en ligne de ses produits, CORTEZ LA sera amenée à collecter les données à caractère personnel nécessaires à l’enregistrement, au traitement et au suivi des commandes, telles que, notamment : civilité, nom, prénom, âge, adresse de livraison, adresse de facturation, adresse de messagerie électronique, mot de passe, numéros de téléphone (bureau, domicile, portable), etc. de chaque client.

<br><br><br>
Le client devra, pour pouvoir acheter un produit lors de sa première commande, ouvrir un compte et remplir un formulaire de commande précisant certains champs obligatoires afin que sa sélection de produits puisse être prise en compte par CORTEZ LA. Par la suite et pour toute nouvelle commande, le client s’identifiera à l’aide de son adresse de messagerie électronique (identifiant) et de son mot de passe –dont il aura la charge de préserver la confidentialité- en cliquant sur l’icône « Identification » figurant sur le Site.

<br><br><br>
La création d'un compte permet au client de :

<br>
- suivre ses livraisons et consulter l'historique de ses commandes ;
<br>

- retourner ou échanger des produits ;
<br>

- ajouter ou modifier ses adresses de livraison et de facturation pour ses prochaines commandes.
<br>

Sauf preuve contraire apportée par le client, les données enregistrées par le Site constituent la preuve de la nature, du contenu et de la date de l'ensemble des transactions passées entre CORTEZ LA et son client. En cas de conflit entre CORTEZ LA et son client sur une transaction effectuée sur le Site, les données enregistrées par CORTEZ LA sont considérées comme preuve valable du contenu de la transaction, sauf preuve contraire apportée par le client.
<br><br><br>

Le client peut à tout moment faire désactiver son compte en envoyant un e-mail au Service Clients en cliquant sur le lien « Nous contacter ». Après la désactivation de son compte, le client est libre de créer un nouveau compte à tout moment.
<br><br><br>

Les informations communiquées par le client dans le cadre de l’ouverture de son compte ou lors de chacune de ses commandes devront être complètes, exactes et à jour. A défaut, CORTEZ LA ne sera pas en mesure d’exécuter les commandes. Si le client ne souhaite pas communiquer de telles informations, CORTEZ LA ne sera pas en mesure de répondre favorablement à sa commande.

<br><br><br>
Cette collecte et ce traitement des données à caractère personnel du client s’effectue conformément à la législation en vigueur sur la protection des données personnelles et selon la Politique de Confidentialité. Le client est informé que les données le concernant pourront être communiquées en tout ou en partie aux seuls prestataires de CORTEZ LA intervenant dans le cadre de l’exécution des commandes (notamment, pour les paiements et les livraisons) et liés par des engagements de confidentialité et de sécurité et dans le respect de la législation en vigueur sur la protection des données personnelles.

<br><br><br>
En application de la réglementation applicable aux données à caractère personnel, le client dispose des droits suivants :
<br>

- il peut mettre à jour ou supprimer les données qui le concernent en se connectant à son compte et en configurant les paramètres de ce compte ;
<br>

- il peut supprimer son compte, en écrivant à l'adresse électronique suivante : dpo@CORTEZparis.com ou via son compte ;
<br>

- il peut exercer son droit d'accès, pour connaître les données personnelles le concernant, en écrivant à l'adresse électronique suivante : dpo@CORTEZparis.com . Dans ce cas, avant la mise en œuvre de ce droit, le Site peut demander une preuve de l'identité du client afin d'en vérifier l'exactitude ;

<br>
- si les données à caractère personnel détenues par le Site sont inexactes, il peut demander la mise à jour des informations, en écrivant à l'adresse électronique suivante : dpo@CORTEZparis.com ;

<br>
- le client peut demander la suppression de ses données à caractère personnel, conformément aux lois applicables en matière de protection des données, en écrivant à l'adresse électronique suivante : dpo@CORTEZparis.com .
<br><br><br><br>

Le client peut également exercer les droits précités en écrivant à CORTEZ LA, DPO, 15, Place Vendôme, 75001 Paris.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="HeadingA">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseA" aria-expanded="false" aria-controls="collapseA">
        MODALITES DE COMMANDE EN LIGNE
      </button>
    </h2>
    <div id="collapseA" class="accordion-collapse collapse" aria-labelledby="HeadingA" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Pour chaque produit sélectionné et ajouté au panier du client affiché sur le Site (ci-après « Panier »), une page internet récapitulative s’affichera, reprenant la photographie du produit, sa désignation et référence, la quantité choisie, le prix unitaire (HT et TTC), les modalités et coûts d’expédition ainsi que le montant total de la commande.

<br><br><br>
CORTEZ LA apporte le plus grand soin et la plus grande exactitude dans la présentation et la description des produits proposés sur le Site (en ce compris, photographies et graphismes) dans les limites de la technique, des équipements informatiques utilisés et dans le respect des meilleurs standards du marché. Il est toutefois possible que des erreurs non substantielles puissent figurer sur le Site, ce que le client reconnaît et accepte. Le client a la possibilité de prendre contact avec le Service Relation Clientèle du CORTEZ LA en téléphonant au numéro indiqué sur le Site pour toute information complémentaire ou questions qu’il souhaiterait poser avant de commander des produits. En tout état de cause, en cas de non-conformité du produit livré par rapport à son descriptif sur le Site, CORTEZ LA s’engage à corriger cette erreur : le consommateur pouvant soit, exercer son droit de rétractation, soit mettre en œuvre la garantie de conformité de CORTEZ LA dans les conditions définies ci-après.
<br><br><br>

Le client aura la possibilité de vérifier le détail de sa commande et son prix total mentionné dans son Panier et, le cas échéant, de corriger d'éventuelles erreurs, avant de valider définitivement son commande et d’exprimer formellement son acceptation en cliquant sur l’icône « Commander et Payer ». Dès cette validation, la commande est transmise à CORTEZ LA pour traitement. Elle ne pourra plus être modifiée et/ou annulée que dans les conditions expressément prévues dans les Conditions Générales de Vente.
<br><br><br>

Un récapitulatif de la commande sera adressé au client sans délai par courrier électronique envoyé à l’adresse communiquée par le client. A cet effet, le client accepte formellement l’usage du courrier électronique pour le récapitulatif par CORTEZ LA du contenu de sa commande. En conservant ce courrier électronique et/ou en l’imprimant, le client détient une preuve de la commande que CORTEZ LA lui recommande de conserver. Il est également recommandé au client de signaler immédiatement à CORTEZ LA d’éventuelles erreurs et/ou omissions contenues dans ce récapitulatif.
<br><br><br>

Ce courrier électronique reprend, notamment, l’ensemble des informations communiquées par le client ainsi que le prix total de sa commande, les délais et coûts de livraison avec indication, le cas échéant, des difficultés ou réserves éventuelles soulevées par la commande.

<br><br><br>
Les données enregistrées par le Site telles que récapitulées dans ledit courrier électronique constituent la preuve de l'ensemble des transactions passées entre CORTEZ LA et le client.
<br><br><br>

CORTEZ LA se réserve le droit de refuser et/ou d’annuler toute commande d’un client non conforme aux Conditions Générales de Vente.
<br><br><br>

CORTEZ LA, directement ou via son prestataire de transport, adressera également au client par courrier électronique un numéro de suivi de commande lui permettant de vérifier l’état d’avancement de sa commande et de la livraison.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="HeadingB">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseB" aria-expanded="false" aria-controls="collapseB">
        PRIX
      </button>
    </h2>
    <div id="collapseB" class="accordion-collapse collapse" aria-labelledby="HeadingB" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Le prix des produits présentés sur le Site en Euros s'entend hors taxes (HT) et toutes taxes comprises (TTC) selon les précisions figurant sur le Site et, en tout état de cause, hors frais de livraison.

<br><br><br>
Le prix de chacun des produits que souhaiterait acquérir le client, ainsi que le montant des frais de livraison –lesquels varient selon le mode d’expédition et l’adresse de livraison choisis par le client- lui seront communiqués sur le Site dans le Panier avant validation de sa commande ainsi que dans le message électronique récapitulatif de celle-ci qui lui sera adressé par CORTEZ LA. En outre, le client recevra, lors de la livraison et pour chacun des produits livrés, la confirmation écrite du prix payé détaillant le prix des produits et les frais de livraison.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="HeadingC">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseC" aria-expanded="false" aria-controls="collapseC">
        DISPONIBILITE
      </button>
    </h2>
    <div id="collapseC" class="accordion-collapse collapse" aria-labelledby="HeadingC" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       Les offres de produits et prix sont valables tant qu'elles sont visibles sur le Site, et dans la limite des stocks disponibles, le client étant informé de la disponibilité des produits au moment de la passation de sa commande.

<br><br><br>
Si, en dépit de la vigilance de CORTEZ LA et exceptionnellement, des produits commandés ne s’avèrent pas disponibles (notamment, dans le cas de commandes simultanées d'un même produit par plusieurs clients), CORTEZ LA en informera le client par courrier électronique dans les meilleurs délais, en lui proposant soit de commander un autre produit présenté sur le Site en remplacement, soit d'annuler la commande. Si le client choisit d’annuler sa commande, un remboursement du prix interviendra par crédit sur le compte bancaire du client si celui-ci a été précédemment débité.

<br><br><br>
Il est précisé que CORTEZ LA se réserve le droit de changer à tout moment et sans préavis les produits et les prix des produits proposés sur le Site, étant précisé que ceux proposés à la vente et leurs prix correspondants seront ceux en vigueur au moment de la commande tels que sélectionnés par le client en validant cette dernière.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="HeadingD">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseD" aria-expanded="false" aria-controls="collapseD">
        CONDITIONS DE PAIEMENT
      </button>
    </h2>
    <div id="collapseD" class="accordion-collapse collapse" aria-labelledby="HeadingD" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Toute commande passée sur le Site doit être réglée par le client immédiatement après la validation de la commande par carte bancaire en cliquant sur l’onglet « Commander et Payer ».
<br><br><br>

Les produits commandés demeurent la propriété de CORTEZ LA jusqu’au complet encaissement du prix par CORTEZ LA.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="HeadingE">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseE" aria-expanded="false" aria-controls="collapseE">
        PAIEMENT PAR CARTE BANCAIRE
      </button>
    </h2>
    <div id="collapseE" class="accordion-collapse collapse" aria-labelledby="HeadingE" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Le client garantit à CORTEZ LA qu'il est le titulaire de ladite carte bancaire et que le nom figurant sur celle-ci est bien le sien. Il communique, dans un environnement sécurisé sur internet intégré au Site par le partenaire financier de CORTEZ LA, le numéro à seize chiffres, la date d'expiration et les numéros du cryptogramme figurant sur sa carte bancaire. Il est ici précisé que CORTEZ LA ne collecte et ne conserve pas les coordonnées de la carte bancaire du client.

<br><br><br>
La transaction est alors effectuée selon les normes de sécurité bancaire. Le débit de la carte bancaire interviendra au moment de la confirmation de l’opération de paiement effectuée par le client dans l’environnement sécurisé de paiement. Le client autorise donc par avance sa banque à débiter son compte à la vue des enregistrements ou des relevés transmis via ledit environnement sécurisé de paiement, même en l'absence de factures signées de la main du titulaire de la carte bancaire.
<br><br><br>

Dans l'hypothèse où, pour quelque raison que ce soit (opposition, refus du centre émetteur, etc.), le débit des sommes dues par le client s'avérerait impossible, le processus d'achat sur le Site sera annulé, la commande ne sera pas enregistrée par CORTEZ LA et/ou sera annulée. Dans une telle hypothèse, CORTEZ LA en informera le client sur le Site et/ou par courrier électronique.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="HeadingI">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseI" aria-expanded="false" aria-controls="collapseI">
        GARANTIES LEGALES
      </button>
    </h2>
    <div id="collapseI" class="accordion-collapse collapse" aria-labelledby="HeadingI" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Les conditions de garanties spécifiques éventuellement remises au client avec le produit livré ne privent pas le client du bénéfice des garanties légales rappelées ci-après de conformité et relatives aux défauts du produit vendu :

<br><br><br>
Article L. 217-4 du Code de la consommation : « Le vendeur livre un bien conforme au contrat et répond des défauts de conformité existant lors de la délivrance.
Il répond également des défauts de conformité résultant de l'emballage, des instructions de montage ou de l'installation lorsque celle-ci a été mise à sa charge par le contrat ou a été réalisée sous sa responsabilité. »

<br><br><br>
Article L. 217-5 du Code de la consommation : « Le bien est conforme au contrat :
1° S’il est propre à l'usage habituellement attendu d'un bien semblable et, le cas échéant :
- s’il correspond à la description donnée par le vendeur et possède les qualités que celui-ci a présentées à l'acheteur sous forme d'échantillon ou de modèle;
- s’il présente les qualités qu'un acheteur peut légitimement attendre eu égard aux déclarations publiques faites par le vendeur, par le producteur ou par son représentant, notamment dans la publicité ou l'étiquetage ;
2° Ou s’il présente les caractéristiques définies d'un commun accord par les parties ou être propre à tout usage spécial recherché par l'acheteur, porté à la connaissance du vendeur et que ce dernier a accepté. »

<br><br><br>
Article L. 217-12 du Code de la consommation : « L'action résultant du défaut de conformité se prescrit par deux ans à compter de la délivrance du bien.»

<br><br><br>
Article L. 217-16 du Code de la consommation : « Lorsque l'acheteur demande au vendeur, pendant le cours de la garantie commerciale qui lui a été consentie lors de l'acquisition ou de la réparation d'un bien meuble, une remise en état couverte par la garantie, toute période d'immobilisation d'au moins sept jours vient s'ajouter à la durée de la garantie qui restait à courir.
Cette période court à compter de la demande d'intervention de l'acheteur ou de la mise à disposition pour réparation du bien en cause, si cette mise à disposition est postérieure à la demande d'intervention. »
<br><br><br>

Article 1641 du Code civil : « Le vendeur est tenu de la garantie à raison des défauts cachés de la chose vendue qui la rendent impropre à l'usage auquel on la destine, ou qui diminuent tellement cet usage que l'acheteur ne l'aurait pas acquise, ou n'en aurait donné qu'un moindre prix, s'il les avait connus. »

<br><br><br>
Article 1648 alinéa 1 du Code civil : « L'action résultant des vices rédhibitoires doit être intentée par l'acquéreur dans un délai de deux ans à compter de la découverte du vice. »
<br><br><br>

FORCE MAJEURE

<br><br><br>
L'exécution par CORTEZ LA de tout ou partie de ses obligations sera suspendue en cas de survenance d'un cas fortuit ou de force majeure au sens de la loi et de la jurisprudence qui en empêcherait ou en retarderait l'exécution.

<br><br><br>
CORTEZ LA informera le client d'un semblable cas fortuit ou de force majeure dans les sept (7) jours de sa survenance. Au cas où la suspension de l’exécution des obligations de CORTEZ LA en résultant se poursuit au-delà d'un délai de quinze (15) jours, le client aura alors la possibilité de résilier la commande en cours et il sera procédé à son remboursement par CORTEZ LA dans les meilleurs délais, par crédit sur le compte bancaire du client.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="HeadingJ">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseJ" aria-expanded="false" aria-controls="collapseJ">
        NON RENONCIATION
      </button>
    </h2>
    <div id="collapseJ" class="accordion-collapse collapse" aria-labelledby="HeadingJ" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Le fait que CORTEZ LA s’abstienne d’exiger à un moment donné l’exécution de l’une quelconque des stipulations des Conditions Générales de Vente ne peut être interprété comme valant renonciation à invoquer ultérieurement ladite inexécution totale ou partielle.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="HeadingK">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseK" aria-expanded="false" aria-controls="collapseK">
        VALIDITE DES CONDITIONS GENERALES DE VENTE
      </button>
    </h2>
    <div id="collapseK" class="accordion-collapse collapse" aria-labelledby="HeadingK" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Si l’une quelconque des stipulations des Conditions Générales de Vente est déclarée nulle ou est en tout ou partie inapplicable, les autres stipulations, droits et obligations nés de ces Conditions Générales de Vente demeureront inchangés et resteront applicables si leur application n’est pas rendue impossible.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="HeadingL">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseL" aria-expanded="false" aria-controls="collapseL">
       DROIT APPLICABLE - MEDIATION
      </button>
    </h2>
    <div id="collapseL" class="accordion-collapse collapse" aria-labelledby="HeadingL" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        LES CONDITIONS GENERALES DE VENTE SONT SOUMISES AU DROIT FRANÇAIS, SAUF DISPOSITIONS IMPERATIVES CONTRAIRES TELLES QUE DECOULANT DU REGLEMENT CE N°593/2008 DU 17 JUIN 2008 SUR LA LOI APPLICABLE AUX OBLIGATIONS CONTRACTUELLES (ROME I).
<br><br><br>

CONFORMEMENT AUX DISPOSITIONS DU CODE DE LA CONSOMMATION CONCERNANT LE REGLEMENT AMIABLE DES LITIGES, CORTEZ LA ADHERE AU SERVICE DU MEDIATEUR DU E- COMMERCE DE LA FEVAD (FEDERATION DU E-COMMERCE ET DE LA VENTE A DISTANCE) DONT LES COORDONNEES SONT LES SUIVANTES : 60 RUE LA BOETIE – 75008 PARIS – http://www.mediateurfevad.fr . APRES DEMARCHE PREALABLE ECRITE DES CONSOMMATEURS VIS-A- VIS DE CORTEZ LA, LE SERVICE DU MEDIATEUR PEUT ETRE SAISI POUR TOUT LITIGE DE CONSOMMATION DONT LE REGLEMENT N’AURAIT PAS ABOUTI. POUR CONNAITRE LES MODALITES DE SAISINE DU MEDIATEUR, CLIQUER ICI.
      </div>
    </div>
  </div>

</div>





</div>


{% endblock %}